<h1>Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
        <li>
        <%= recipe.name %><br>
        <%= recipe.stuff %><br>
        <%= recipe.calories %><br>
        </li>
    <% end %>
</ul>
