<h1>Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
        <<li>
        <h4>Recipe:</h4> <br>
        <h4>Ingredients:</h4> <%= recipe.stuff %><br>
        <h4>Directions:</h4> <%= recipe.directions %><br>
        <h4>Calories:</h4> <%= recipe.calories %><br>
        <h4>Cost:</h4> <%= number_to_currency(recipe.cost) %><br>
        </li>
    <% end %>
</ul>
